<%- content_for(:title, @video.title) %>
<div id="player"></div>

<div id="controls">
  <button type="button" class="btn btn-primary flow playing"><b class="icon-pause icon-white"></b></button>
  <button type="button" class="btn btn-primary next">Skip <b class="icon-forward icon-white"></b></button>
</div>

<%- content_for(:javascript) do %>
  <script type="text/javascript">
    var params = { allowScriptAccess: "always" };
    var attrs = { id: "video" };
    swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&playerapiid=ytplayer&version=3", "player", "100%", "100%", "8", null, null, params, attrs);

    function onPlayerReady(player) {
      player.loadVideoById({
        'videoId': "<%= @video.youtube_id %>",
        'suggestedQuality': 'highres'
      });

      player.playVideo();

      $('button.flow').click(function() {
        if($(this).hasClass('playing')) {
          $(this).removeClass('playing');
          $(this).addClass('paused');

          var b = $('<b class="icon-play icon-white"/>');

          $(this).empty();
          $(this).append(b);

          player.pauseVideo();
        }
        else {
          $(this).addClass('playing');
          $(this).removeClass('paused');

          var b = $('<b class="icon-pause icon-white"/>');

          $(this).empty();
          $(this).append(b);

          player.playVideo();
        }
      });

      player.addEventListener("onStateChange", 'stateChanged');
    }

    function stateChanged(state) {
      // Relevant states:
      //
      // -1 (unstarted)
      // 0 (ended)
      // 1 (playing)
      // 2 (paused)
      // 3 (buffering)
      // 5 (video cued)
      if(state == 0) {
        window.location.href = "<%= video_url(@next_video) %>";
      }
    }

    $('button.btn.next').click(function() {
      window.location.href = "<%= video_url(@next_video) %>";
    });
  </script>
<%- end %>
